<li class="funnel-item">
  <div class="funnel-item-label-wrapper">
    <span class="js-funnel-item-label funnel-item-label"></span>
    <span class="funnel-item-metadata"><span class="js-funnel-item-hits"></span><span class="js-funnel-item-trend-wrapper is-hidden"> / <span class="js-funnel-item-trend"></span></span></span>
  </div>
  <div class="funnel-item-bar-wrapper">
    <div class="js-funnel-item-bar funnel-item-bar"></div>
    <span class="js-funnel-item-conversion funnel-item-conversion"></span>
  </div>
</li>